@import url("./src/components/styles/board.css");
@import url("./src/components/styles/menu.css");
@import url("./src/components/styles/snake.css");
@import url("./src/components/styles/food.css");


:root {
  --size: 40px; /* hardcoded value? not cool */
  --time-gap: 1s;
}

html {
  font-size: 40px;
  background-repeat: round;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.block {
  position: absolute;
  border-radius: 50%;
}