body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  align-content: center;
  background-color: darkslategray;
}

.wrapper,
.container {
  position: absolute;
  inset: 0;
  width: 75vw;
  height: 75vh;
  margin: auto;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.playground {
  position: absolute;
  inset: 0;
  display: block;
  margin: auto;
}

.score { 
  position: absolute;
  inset: 0;
  justify-self: center;
}