@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rock+Salt&display=swap');

@font-face {
  font-family: "Brick Edgie";
  src: url("assets/fonts/BrickEdgie-Zp9wz.otf") format('opentype');
}


html {
  font-size: var(--step);
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  background-image: url("assets/images/grass.jpg");
  background-repeat: repeat;
}

.background {
  background-image: url("assets/images/sand.jpg");
  background-repeat: repeat;
}

.background,
.container {
  /* make them stack on top of each other */
  position: absolute; 
  inset: 0;
  width: 75vw;
  height: 75vh;
  margin: auto; 
  /* margin is the only viable way of centering here
   because center has to stay in the center of the screen during shrink() */
}

.container {
  border-image-source: url("assets/images/brick-wall.jpg");
  border-image-slice: 400;
  border-image-width: var(--step);
  border-image-repeat: repeat;
  transition: width var(--time-gap), height var(--time-gap);
}

.score,
.record { 
  position: absolute;
  inset: 0;
  height: var(--step);
  margin: 0 var(--step);
  font-size: 1rem;
  line-height: var(--step);
}

.score {
  font-family: "Rock Salt";
  font-size: 0.6rem;
  letter-spacing: calc(var(--step) * 0.1);
}

.record {
  align-self: end;
  font-family: "Permanent Marker";
  padding-bottom: 1px;
  font-size: 1rem;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--step);
  width: max-content;
  height: max-content;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display:/ none;
}

button {
  font-family: "Brick Edgie";
  font-size: 2rem;
  padding: 0.1rem 0.4rem;
  border: 1px solid;
  border-style: outset;
  backdrop-filter: blur(2px);
  letter-spacing:  calc(var(--step) * 0.2);
  background: none;
}

.block {
  width: var(--step);
  height: var(--step);
  position: absolute;
  transition: left var(--time-gap) linear, top var(--time-gap) linear;
}