@import url("../styles/menu.css");
@import url("../styles/board.css");
@import url("../styles/snake.css");
@import url("../styles/food.css");

:root {
  --time-gap: 0.5s;
}

html {
  font-size: 40px;
  background-repeat: round;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}
