
.menu,
.menu-main {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: max-content;
  height: max-content;
  inset: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: none; // ⏳
}

button,
label {
  font-family: "Brick Edgie";
  font-size: 1rem;
  padding: 0.1rem 0.4rem;
  border: 1px solid;
  border-style: outset;
  backdrop-filter: blur(2px);
  letter-spacing: 8px ;
  background: none;
}

.menu-settings {
  display: flex;
  flex-direction: column;
  gap: 40px;
  display: none;
}

label {
  display: flex;
  justify-content: space-between;
}

input[type='range'] {
  width: 50%;
  -webkit-appearance: none;
  background: transparent;

  &::-webkit-slider-runnable-track {
   background-color: black;
   border-radius: 10px;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    background: white;
    border: none;
    box-shadow: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: all 0.1s ease;
  }
}

datalist {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 42.5%;
  top: 65%;
  font-family: "Permanent Marker";
  font-size: 10px;
  letter-spacing: 1px;
  width: 57%;
}

