#food,
#food::before {
  position: absolute;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}

#food {
  scale: 0.5;
  background-color: var(--color);
  opacity: 0;
  transition: var(--transition);
}

#food::before {
  content: '';
  inset: 0;
  background-color: var(--prev-color);
  opacity: var(--pseudo-opacity);
  transition: var(--pseudo-transition);
}
