@import url("../components/board/board.css");

@import url("../components/menu/menu.css");

@import url("../components/snake/snake.css");

@import url("../components/food/food.css");


:root {
  --size: 40px;
  --time-gap: 1s;
}

html {
  font-size: 40px;
  background-repeat: round;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.block {
  position: absolute;
  border-radius: 50%;
}