
#background {
  background-repeat: repeat;
  clip-path: inset(var(--clip, 0));
  transition: clip-path var(--time-gap) linear;
}


#container,
#background,
#border {
  /* make them stack on top of each other */
  position: absolute; 
  inset: 0;
  width: 75vw;
  height: 75vh;
  margin: auto;
  /* margin is the only viable way of centering here
   because center has to stay in the center of the screen during shrink() */
}

#border {
  border-image-slice: 100;
  border-image-width: var(--size);
  border-image-repeat: repeat;
  transition: all var(--time-gap) linear;
}

#score,
#record { 
  position: absolute;
  inset: 0;
  height: var(--size);
  margin: 0 var(--size);
  line-height: var(--size);
  transition: all var(--time-gap) linear;
}

#score {
  font-family: "score";
  font-size: calc(var(--size) * 0.5);
  letter-spacing: calc(var(--size) * 0.1);
}

#record {
  align-self: end;
  font-family: "secondary";
  padding-bottom: 1px;
  font-size: calc(var(--size) * 0.75);
}

#sound-toggle {
  position: absolute;
  right: 0%;
  width: 50px;
  height: 30px;

  & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: scale 0.1s;

    &:active {
      scale: 1.25;
    }
  } 
}

.sound-off {
  top: 101%;

  & img {
    object-position: top;
  }
}

.sound-on {
  top: 101.15%;

  & img {
    object-position: bottom;
  }
}


















