#food,
#food::before {
  position: absolute;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}

#food {
  scale: 0.5;
}

#food::before {
  content: '';
  inset: 0;
  background-color: var(--pseudo-color);
  opacity: var(--pseudo-opacity);
  transition: var(--pseudo-transition);
}
