#snake {
  position: absolute;
  z-index: 1;
}

.snake-body {
  position: absolute;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  transition: all var(--time-gap) linear;
}

#head {
  border-radius: 25% 50% 50% 25%;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;

    width: calc(var(--size) / 4);
    height: calc(var(--size) / 4);
    background-color: black;
    border-radius: 50%;
  }

  &::before {
    left: 25%;
    top: 5%;   
  }
  &::after {
    left: 25%;
    bottom: 5%;
  }
}